<h2>Events</h2>
<button (click)="toggleAddEventForm()" class="bg-blue-400">
  <i class="fas fa-add text-blue-400 cursor-pointer"></i> Add Event
</button>

<table class="table-auto w-full text-left border-collapse border border-gray-300">
  <thead class="bg-gray-100">
    <tr>
      <th class="px-4 py-2 border border-gray-300">Title</th>
      <th class="px-4 py-2 border border-gray-300">Start Date/Time</th>
      <th class="px-4 py-2 border border-gray-300">End Date/Time</th>
      <th class="px-4 py-2 border border-gray-300">Professor</th>
      <th class="px-4 py-2 border border-gray-300">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events" class="hover:bg-gray-100">
      <td class="px-4 py-2 border border-gray-300">{{ event.title }}</td>
      <td class="px-4 py-2 border border-gray-300">{{ event.startDateTime }}</td>
      <td class="px-4 py-2 border border-gray-300">{{ event.endDateTime }}</td>
      
      <td class="px-4 py-2 border border-gray-300">
        <button *ngIf="event.id !== undefined"  (click)="editEvent(event.id)" class="text-yellow-500">
          <i class="fas fa-edit"></i>
        </button>
        <button *ngIf="event.id !== undefined" (click)="deleteEvent(event.id)">
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>

    <tr *ngIf="showAddEventForm"> <!-- Show form to add a new event -->
      <td><input type="text" [(ngModel)]="newEvent.title" placeholder="Title" required /></td>
      <td><input type="datetime-local" [(ngModel)]="newEvent.startDateTime" placeholder="Start Date/Time" required /></td>
      <td><input type="datetime-local" [(ngModel)]="newEvent.endDateTime" placeholder="End Date/Time" required /></td>
      <td>
        <select [(ngModel)]="newEvent.professorid" required>
          <option *ngFor="let professor of professors" [value]="professor.id">{{ professor.name }}</option>
        </select>
      </td>
      <td>
        <button (click)="addEvent()" class="bg-green-400">Save</button>
        <button (click)="toggleAddEventForm()" class="bg-red-400">Cancel</button>
      </td>
    </tr>
  </tbody>
</table>
